@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Primary */
  --moderate-cyan: hsl(176, 50%, 47%);
  --dark-cyan: hsl(176, 72%, 28%);

  /* Neutral */
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 48%);

  /* Font Family */
  --font-family-commissioner: "Commissioner", sans-serif;

  /* Font Weights */
  --font-weight-regular: 400;
  --font-weight-semi-bold: 500;
  --font-weight-bold: 700;
}

body {
  font-family: (var(--font-family-commissioner));
  font-size: 16px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .no-scroll {
    overflow: hidden;
  }
}
